* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.userSearch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputForm {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin-left: 1rem;

  padding: 1rem;
  font-size: 1rem;
  background-color: #ffae00;
  color: rgb(5, 5, 5);
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

.searchInput {
  width: 15rem;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 2rem;
  border: 2px solid rgb(9, 9, 9);
}

.userDetails {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  gap: 1rem;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

img {
  width: 300px;
}
